@import '.colors';
.nav {
	height: 7vh;
	border-bottom: 1px solid grey;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		max-width: 1200px;
	}

	&__link-list {
		font-size: 18px;
	}

	&__logo-cointainer {
		font-size: 24px;
	}

	&__logo {
		font-weight: 600;
		margin-left: 10px;
	}

	&__link {
		margin: 10px 20px;
		padding: 5px 5px;
		text-decoration: none;
		color: grey;
		transition: color 0.3s;
	}

	&__link:hover {
		color: $primary-color;
	}

	&__link--active {
		color: black;
		font-size: 22px;
		font-weight: 600;
	}
}
.fa-calendar-days {
	color: $primary-color;
}
