@import '.colors';

.organizer {
	padding: 20px 0;
	box-shadow: 0px 11px 15px -17px black;
	&__wrapper {
		position: relative;

		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}
	&__header {
		width: 20%;
		text-align: left;
		margin-bottom: 20px;
		font-size: 30px;
		font-weight: 500;
		background-color: transparent;
		border: transparent;

		cursor: pointer;
	}
	&__arrow {
		font-size: 23px;
	}
	&__item {
		margin: 0 10px;
		border: transparent;
        color: grey;
		background-color: transparent;
		padding: 0 9px 10px;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.3s ease-in-out;

		cursor: pointer;
	}
	&__item:hover {
		border-bottom: 2px solid $primary-color;
	}
	&__item--active {
        color: black;
		border-bottom: 2px solid $primary-color;
	}
	&__btn {
		position: absolute;
		right: 0;
		bottom: 30%;

		color: white;
		font-size: 18px;
		background-color: $primary-color;
		border: transparent;
		padding: 10px 20px;
		border-radius: 25px;
		transition: background-color 0.3s;

		cursor: pointer;
	}
	&__btn:hover {
		background-color: $primary-hover;
	}
	&__list {
		position: relative;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;
	}
	&__list-open {
		max-height: 1000px;
	}
    &__popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; 
      }
}

